
body {
    text-align: left;
    background-attachment: fixed;
    /*background-color: gray;*/
    background-image: url();
    color: #000305;
    font-size: 87.5%;
    font-family: Arial,'Lucida Sans Unicode';
	background-color: #FF8c00
	
}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 0;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: -2px;
    width: 100px;
   
    
}
.punchline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C69C6D;
    padding-left: 20px;
    padding-top: -5px;
}
a{
    text-decoration: none;
    

}
 a:link, a:visited{
    color: #FF8C00;
 }
  a:hover, a:active {
          background-color: #FF8c00;
          color: #FFF;
  }  
  .body{
   margin: 0 auto;
   width: 70%;
   clear: both;
  }
  
  
  .mainheader img{
      width: 100%;
      height: auto;
      margin-top: 2%;
      margin-bottom: 0;
      
  }
 
  .mainheader nav{
      background-color: #2f4f4f;
      height: 40px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-bottom: 0;
      margin-top: 0;
  }
   .mainheader ul{
      list-style: none;
      margin: 0 auto;
  }
  .mainheader ul li{
      float: left;
      display: inline;
  }
  .mainheader nav a:link, .mainheader nav a:visited{
      color: #FFF;
      display: inline-block;
      padding: 10px 25px;
      height: 20px;
  }
  .mainHeader nava a:hover, .mainheader nav a:active,
  .mainHeader nav .acive a:link, .mainheader nav .active a.visited{
      background-color: #FF8C00;
      text-shadow: none;
  }
  .mainHeader nav ul li a{
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  }
  .mainContent{
      line-height: 25px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
  }
  .content{
      width: 70%;
      float: left;
  }
  topcontent{
      background-color: #FFF;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -moz-border-radius: 5px;
      padding: 3% 5%;
      /*margin-top: 2%;*/
  }
  .bottomcontent{
      background-color: #FFF;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      padding: 3% 5%;
      margin-top: 2%;
  }
  .topsidebar{
      width: 23%;
      float: left;
      background-color: #FFF;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
     
  }
  .post-info{
  font-style: italic;
  color: #FFF;
  font-size: 90%;
  
  }
  .middle-sidebar{
      width: 23%;
      float: left;
      background-color: #FFF;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-left: 1%;
      margin-bottom: 1%;
      padding: 2% 3%;
  }    
  .bottom-sidebar{
      width: 23%;
      float: left;
      background-color: #FFF;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-left: 1%;
      margin-bottom: 1%;
      padding: 1.6% 3%;
  }
  .mainFooter{
      width: 100px;
      height: 50px;
      float: left;
       border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      background-color: #2f4f4f;
      margin-top: 0;
      margin-bottom: 2%
  }
  .mainFooter p{
      width: 92%;
      margin: 10px auto;
      color: #FFF;
  }
  