
body {
    text-align: left;
    background-attachment: fixed;
    /*background-color: gray;*/
    background-image: url();
    color: #000305;
    font-size: 87.5%;
    font-family: Arial,'Lucida Sans Unicode';
	
	
}
#logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    margin-left: 0;
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    letter-spacing: -2px;
    width: 100px;
   
    
}
#punchline{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #C69C6D;
    padding-left: 20px;
    padding-top: -5px;
}
a{
    text-decoration: none;
    

}
 a:link, a:visited{
    color: #FF8C00;
 }
  a:link, a:active {
          background-color: #FF8c00;
          color: #FFF;
  }  
  .body{
   margin: 0 auto;
   width: 70%;
   clear: both;
  }
  
  
  .mainheader img{
      width: 100px;
      height: auto;
      width: 780px;
      
  }
 
  .mainheader nav{
      background-color: #2f4f4f;
      height: 40px;
      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
      margin-bottom: 0;
      margin-top: 0;
  }
   .mainheader ul{
      list-style: none;
      margin: 0 auto;
  }
  .mainheader ul li{
      float: left;
      display: inline;
  }